@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.hero{
    width: 100%;
    height: 100%;
    /*background-color: #fff;*/
    background-image: url('banner.png');
    background-size: cover;
}
.hero2{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    /*background-image: url('https://drive.google.com/uc?export=view&id=1OI_WSDrOPrOk5MsA2EgjZFiVC7gF7pfp');*/
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    margin-bottom: 20px;
}
.logo{
    max-height: 100px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #000;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: #edbdae;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #000;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #eaaa65;
    border: 2px solid #eaaa65;
}
.btn:hover{
    background: transparent;
    border-color: #eaaa65;
    color: #eaaa65;
}
.content{
    position: absolute;
    top: 20%;
    left: 8%;
}
.content .title{
    margin-top: 5%;
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    -webkit-background-clip: text;
    /*-webkit-text-fill-color: transparent;*/
}
.content h1{
    color: #edbdae;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #cf786f;
    }
    
.content h5{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-transform: inherit;
    width: 90%;
    text-align:justify;
    }

.content h5 span{
    color: #cf786f;
}
.content p{
    width: 55%;
    color: #000;
    margin-top: 25px;
    margin-bottom: 30px;
}

.container {
  width: 80vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.border {
  height: 269px;
  width: 200px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  background: linear-gradient(
     rgba(207, 120, 111, 0.45), 
     rgba(237, 189, 174, 0.45)
   )
 }
 .border:hover {

  background: linear-gradient(
     rgba(0,0,0,0), 
     rgba(0,0,0,0)
   )
 }


.card {
  height: 269px;
  width: 200px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
 
  }
.card h2 {
      opacity: 1;
      color: #fff;
      }
      
.card0 {
  background: url('https://drive.google.com/uc?export=view&id=1zX4-1O4dJG1cJNoySiJMxXvPngPLzyrK') center center no-repeat;
  background-size: 300px;
 }

 /*.card0:hover {
    background: url('https://drive.google.com/uc?export=view&id=1zX4-1O4dJG1cJNoySiJMxXvPngPLzyrK') left center no-repeat;
    background-size: 600px;
 }*/
.card0:hover h2{
      opacity: 0;
 }

.card1 {
  background: url('https://drive.google.com/uc?export=view&id=1ZKHtH8dRkEQIxMo9jHOivdTyJ3ffh059') center center no-repeat;
  background-size: 600px;
 }

/* .card1:hover {
    background: url('https://drive.google.com/uc?export=view&id=1ZKHtH8dRkEQIxMo9jHOivdTyJ3ffh059') left center no-repeat;
    background-size: 1200px;
    
 }*/
 .card1:hover h2{
      opacity: 0;
 }

.card2  {
  background: url('https://drive.google.com/uc?export=view&id=11qKfA__8cXYVJ3vI1lWci8U9r2YTOGMX') center center no-repeat;
  background-size: 600px;
}
/*.card2:hover {
    background: url('https://drive.google.com/uc?export=view&id=11qKfA__8cXYVJ3vI1lWci8U9r2YTOGMX') left center no-repeat;
    background-size: 1200px;
}*/
.card2:hover h2{
      opacity: 0;
 }
 
 .card3  {
  background: url('https://drive.google.com/uc?export=view&id=100X0dsBSD5DZe79j2T4D7TMvEcH2lDBT') center center no-repeat;
  background-size: 300px;
}
/*.card3:hover {
    background: url('https://drive.google.com/uc?export=view&id=100X0dsBSD5DZe79j2T4D7TMvEcH2lDBT') left center no-repeat;
    background-size: 600px;
}*/
.card3:hover h2{
      opacity: 0;
 }
 .card4  {
  background: url('https://drive.google.com/uc?export=view&id=1CBB8fhShPzgB1-BbbVMGqiW-mu-y4to0') center center no-repeat;
  background-size: 300px;
}
/*.card4:hover {
    background: url('https://drive.google.com/uc?export=view&id=1CBB8fhShPzgB1-BbbVMGqiW-mu-y4to0') left center no-repeat;
    background-size: 600px;
}*/
.card4:hover h2{
      opacity: 0;
 }
  

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 10px;
  opacity: 0;
  font-size: 22px;
  transition: opacity 1s;
 }
